<%- include ../layout/header %>

<main class="container">
  <% if (messages.length > 0) { %>
    <div class="alert alert-danger">
      <%= messages %>
    </div>
  <% } %>

  <div class="row">
    <div class="offset-md-4 col-md-4">
      <h1 style="font-family: system-ui; letter-spacing: 2px; font-variant: small-caps; font-weight: 900; color: #383e56;">Please Register</h1>
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username" style="font-family: system-ui; font-variant: small-caps; letter-spacing: 2px;">Username: </label>
          <input type="text" class="form-control"
            name="username" placeholder="Enter username"
            id="username" required autofocus>
        </fieldset>

        <fieldset class="form-group">
          <label for="password" style="font-family: system-ui; font-variant: small-caps; letter-spacing: 2px;">Password: </label>
          <input type="password" class="form-control"
            name="password" placeholder="Enter password"
            id="password" required>
        </fieldset>

        <fieldset class="form-group">
          <label for="email" style="font-family: system-ui; font-variant: small-caps; letter-spacing: 2px;">Email: </label>
          <input type="email" class="form-control"
            name="email" placeholder="Enter Email Address"
            id="email" required>
        </fieldset>

        <fieldset class="form-group">
          <label for="displayName" style="font-family: system-ui; font-variant: small-caps; letter-spacing: 2px;">Display Name: </label>
          <input type="text" class="form-control"
            name="displayName" placeholder="Enter Display Name"
            id="displayName" required>
        </fieldset>

        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Create">
          <a href="/" class="btn btn-warning">Cancel</a>
        </fieldset>
      </form>
    </div>
  </div>
</main>

<%- include ../layout/footer %>
