<%- include layout/header %>

<div class="jumbotron" style="background-color: rgba(240, 240, 240, 0.993); color: #aa3a3a">
  <h2 style="text-align: center; font-family: Lucida, Console; letter-spacing: 2px; font-variant: small-caps; font-size: 45px;" class="display-6">
    <b><i>SurveyCity &ndash; Engage Your Audience!</i></b>
  </h2>
</div>
<!---->
<div
  class="container-fluid"
  style="background-color: rgba(240, 240, 240, 0.993); color: unset;text-align: center;"
>
  <div class="card w-100" style="width: 18rem;text-align: center;">
    <img src="/assets/images/Organize-your-Survey.jpg" style="text-align: center;" class="card-img-top" alt="..." >
    <div class="card-body">
      <a href="/survey"
        class="btn btn-primary"
        style="background-color: rgb(255,202,125); color: unset; width: fit-content; font-family: Lucida, Console; font-weight: bold; font-size: 150%;">
        Create your own survey now!
      </a>
    </div>
  </div>
</div>

<!-- Paragraph explaining website survey -->
<div class="container">
  <div class="jumbotron" style="background-color: white; font-size: large;">
    <p style="text-align: center; color: rgb(71, 3, 3)">
      SurveyCity allows users to create web surveys and spread these to their
      audience. These surveys can be used for a variety of purposes, ranging
      from user research, to UX optimization, to understanding visit behaviour,
      getting product feedback, and more. SurveyCity does not limit users to
      what they want their surveys to be about and is as open as possible in
      order to give users the best experience possible.
    </p>
  </div>
</div>

<div class="container">
  <h1 style="float: left; color: rgb(71, 3, 3); font-family: system-ui;">
    Why Choose SurveyCity?
  </h1>
  <img
    src="/assets/images/Twemoji2.svg"
    style="width: 60px; height: 60px; text-align: center"
  />
</div>

<br>

<!-- Bottom jumbotron-->
<div class="jumbotron jumbotron-fluid" style="background-color: rgba(240, 240, 240, 0.993)">
  <div class="card-group">
    <div class="card">
      <div style="text-align: center">
        <img
          src="/assets/images/freeIcon.jpg"
          class="card-img-top"
          alt="..."
          style="width: 150px; height: 150px"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">It's free of cost</h5>
        <p class="card-text">
          SurveyCity is totally free. You don't need to lose a single penny in
          order to create surveys. You can create any number of surveys
          absolutely for free!
        </p>
      </div>
    </div>
    <div class="card">
      <div style="text-align: center">
        <img
          src="/assets/images/template.jpg"
          class="card-img-top"
          alt="..."
          style="width: 150px; height: 150px"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Huge variety of templates</h5>
        <p class="card-text">
          SurveyCity offers you hundreds of templates and designs to choose
          from. It also allows you to customize the templates as you desire.
        </p>
      </div>
    </div>
    <div class="card">
      <div style="text-align: center">
        <img
          src="/assets/images/freeUse.jpg"
          class="card-img-top"
          alt="..."
          style="width: 170px; height: 150px"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Easy to use</h5>
        <p class="card-text">
          SurveyCity offers very interactive user experience. You don't need to
          any technical knowledge. Yes, it's that easy.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 style="text-align: center; background-color: rgb(255,202,125); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <i> How to begin? </i>
  </h1>
</div>
<br>
<!--  beg    -->
<div class="row">
    <div class="col-sm-8">
      <div class="card w-100">
        <div class="card-body">
          <img
            class="card-img"
            src="/assets/images/title.jpg"
            alt=""
            style="height: 375px"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="height: 100%; position: relative">
        <h2 style="text-align: center;margin-top: 150px;font-family: Georgia, 'Times New Roman', Times, serif;"><b><i>1. Choose a suitable TITLE.</i></b></h2>
      </div>
    </div>
  </div>
</div>
<!-- end -->
<br>
<br>
<!--  beg    -->
<div class="row">
    <div class="col-sm-4">
      <div style="height: 100%; position: relative">
        <h2 style="text-align: center;margin-top: 150px;font-family: Georgia, 'Times New Roman', Times, serif;"><b><i>2. Add description for better understanding of what the survey is about.</i></b></h2>
      </div>
    </div>
     <div class="col-sm-8">
      <div class="card w-100">
        <div class="card-body">
          <img
            class="card-img"
            src="/assets/images/description.jpg"
            alt=""
            style="height: 430px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->
<br><br>
<!--  beg    -->
<div class="row">
    <div class="col-sm-8">
      <div class="card w-100">
        <div class="card-body">
          <img
            class="card-img"
            src="/assets/images/question.jpg"
            alt=""
            style="height: 375px"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="height: 100%; position: relative">
        <h2 style="text-align: center;margin-top: 150px;font-family: Georgia, 'Times New Roman', Times, serif;"><b><i>3. Type in the question under Question title.</i></b></h2>
      </div>
    </div>
  </div>
</div>
<!-- end -->
<br>
<br>
<!--  beg    -->
<div class="row">


    <div class="col-sm-4">
      <div style="height: 100%; position: relative">
        <h2 style="text-align: center;margin-top: 150px;font-family: Georgia, 'Times New Roman', Times, serif;"><b><i>4.Select the answer type.</i></b></h2>
      </div>
    </div>
     <div class="col-sm-8">
      <div class="card w-100">
        <div class="card-body">
          <img
            class="card-img"
            src="/assets/images/answer.png"
            alt=""
            style="height: 330px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->
<br><br>
<div class="container" style="background-color: rgba(240, 240, 240, 0.993)">
  <a href="/survey" style=" font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; width: fit-content; color: rgb(1, 0, 17);">
    <h2>Click here to get started</h2>
  </a>
</div>

<br><br>

<%- include layout/footer %>
