      <!-- Card code ends here -->
    </main>

    <!-- Bottom Nav -->
    <div>
      <footer>
        <nav style="background-color: #e0ece4; text-align: center;" class="navbar fixed-bottom navbar-dark">
          <p style="color: #aa4a30; text-align: center; margin: auto;">
            &copy; Copyright 2020 SurveyCity. All Rights Reserved.
          </p>
        </nav>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
